* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #3c4967;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 20px;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.form-style {
    margin: 7% 15px;
    min-width: 500px;
    min-height: auto;
    background: inherit;
    border: 3px solid white;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    color: white;
    box-sizing: border-box;
}

.form-style:hover {
    transition: .45s;
    border-color: #FC0;
    text-shadow: #FC0 1px 0 4px;
}

#legend {
    text-transform: capitalize;
    align-items: center;
    font-size: 24px;
    margin: 0 auto;
    padding: 0 20px;
}

.questions {
    color: rgba(245, 245, 245, 0.78);
    font-style: italic;
    margin-bottom: 3%;
}

ol > li {
    font-size: 20px;
    font-weight: 400;
}

ul {
    font-weight: 200;
}

.marked > li {
    padding-left: 20px;
    font-size: 18px;
    color: rgba(245, 245, 245, 0.45);
    list-style-type: disc;
}

.unmarked > li {
    list-style-type: circle;
    padding-left: 10px;
}

input[type=text], select, textarea {
    min-width: 330px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    resize: vertical;
}

input[type=text]:focus {
    border: 1px solid #555;
    border-radius: 4px;;
}

label {
    padding: 15px 15px 15px 0;
    display: inline-block;
}

.field {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.field:hover {
    color: #ffffff;
    text-shadow: none;
}

.btn {
    background-color: #04AA6D;
    border-radius: 4px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    height: 38px;
}

.line-result {
    display: flex;
    justify-content: end;
    width: 100%;
}

.result {
    display: flex;
    align-items: center;
    min-width: 250px;
    height: auto;
    margin-right: 7px;
}